#hero
    flex-direction: row-reverse
    height: 40vh
    margin-top: 1rem

header
    height: 17vh
    display: flex
    justify-content: space-between
    padding: 3rem calc( (100vw - 1080px) / 2 )
    background-color: black
    background-image: url("../images/hero.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .page-title
        text-transform: uppercase
        font-size: 4rem
        color: $white
    .logo-home-link
        img
            height: 4rem
    .logoGroup
        position: absolute
        width: 100vw
        left: 0
        top: -.35rem
        display: grid
        justify-items: center
        grid-gap: 1rem
        .container
            border-radius: 70%
            background-color: $white
            padding: .5rem
        .logo
            height: 8rem

    .languages
        z-index: 999
        list-style-type: none
        display: flex
        li
            margin-left: .5rem
            font-size: .8rem
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            width: 1rem
            height: 1rem
            padding: .6rem
            background-color: transparent
            border: 2px solid $white
            border-radius: 50%
            span
                color: $white
        .current
            background-color: $white
            span
                color: black
