header
    margin-top: 1rem
    display: flex
    flex-direction: row-reverse
    padding: 3rem calc( (100vw - 1080px) / 2 )
    background-color: black
    height: 40vh
    background-image: url("../images/hero.jpg")
    background-color: #cccccc
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .logoGroup
        position: absolute
        width: 100vw
        left: 0
        top: .5rem
        display: grid
        justify-items: center
        grid-gap: 1rem
        .container
            border-radius: 70%
            background-color: white
            padding: 1rem
        .logo
            height: 8rem
    .languages
        z-index: 999
        list-style-type: none
        display: flex
        li
            margin-left: .5rem
            font-size: .8rem
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            width: 1rem
            height: 1rem
            padding: .6rem
            background-color: transparent
            border: 2px solid white
            border-radius: 50%
            span
                color: white
        .current
            background-color: white
            span
                color: black
