@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

main {
  margin: 0px auto;
  max-width: 1080px;
}

.desc {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

.desc p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-width: 75%;
}

ul {
  list-style-type: none;
}

#hero {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 40vh;
  margin-top: 1rem;
}

header {
  height: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem calc( (100vw - 1080px) / 2);
  background-color: black;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .page-title {
  font-size: 4rem;
  color: #fff;
}

header .logo-home-link img {
  height: 4rem;
}

header .logoGroup {
  position: absolute;
  width: 100vw;
  left: 0;
  top: -.35rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}

header .logoGroup .container {
  border-radius: 70%;
  background-color: #fff;
  padding: .5rem;
}

header .logoGroup .logo {
  height: 8rem;
}

header .languages {
  z-index: 999;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .languages li {
  margin-left: .5rem;
  font-size: .8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  height: 1rem;
  padding: .6rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}

header .languages li span {
  color: #fff;
}

header .languages .current {
  background-color: #fff;
}

header .languages .current span {
  color: black;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem calc( (100vw - 1080px) / 2);
}

footer div {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logo img {
  height: 4rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#hero-nav {
  max-width: 1080px;
  margin: -6.8rem auto 5rem auto;
}

#hero-nav li {
  padding: 3rem;
}

#hero-nav li a {
  font-size: 1.8rem;
}

nav {
  max-width: 620px;
  margin: -4.6rem auto 5rem auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  background-color: #00c2bd;
  border-radius: 50%;
  height: 6.8rem;
  width: 6.8rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  white-space: nowrap;
  color: white;
  font-size: 1rem;
}

* {
  color: #262626;
  font-family: 'Abhaya Libre', serif;
}

a {
  text-decoration: none;
}

.modal {
  padding: 4rem 7rem;
  display: none;
  justify-items: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.modal .booking {
  margin-top: 3.4rem;
  display: -ms-grid;
  display: grid;
}

.modal .booking .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .booking .container p {
  color: white;
  font-size: 1.2rem;
}

.modal .booking .container img {
  height: 1.3rem;
}

.modal .booking a {
  margin-top: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  border: none;
  background-color: #ffad00;
}

.modal form {
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem 3rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.modal form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.modal form .message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.modal form .send {
  margin-top: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  padding: 1rem 6rem;
  font-size: 1.4rem;
  border: none;
  background-color: #00c2bd;
}

.modal form label {
  white-space: nowrap;
  color: #808386;
  font-size: 1.3rem;
  padding: 0px 1rem;
}

.modal form input, .modal form textarea {
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;
  resize: none;
  background-color: transparent;
  border: none;
  color: white;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 4rem;
  margin-top: -2rem;
  width: 100vw;
  background-color: #262626;
}

.book-now {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

.book-now .toggleForm {
  background-color: transparent;
  border: none;
  color: #00c2bd;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.book-now .arrow {
  z-index: 999;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 50%;
}

.book-now .change-direction {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
