@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}

header .languages {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .languages li {
  margin-left: .5rem;
  font-size: .8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  height: 1rem;
  padding: .6rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

header .languages li span {
  color: white;
}

header .languages .current {
  background-color: white;
}

header .languages .current span {
  color: black;
}

* {
  color: #262626;
  font-family: 'Abhaya Libre', serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
